<div class="book-panel">
  <div class="book-panel-title">
    <%= @book.title %>
  </div>
  <div class="book-panel-author">
    <%= @book.author %>
  </div>
  <div class="book-panel-descrip">
    <%= @book.synopsis %>
  </div>
</div>
