<div class="book-card">
  <div class="book-cover" style="background-image: url(<%= image_path 'book_default.png' %>)"></div>
  <div class="book-info">
    <div class="book-title">
      <%= book.title %>
    </div>
    <div class="book-author">
      <%= book.author %>
    </div>
  </div>
</div>
