<div class="screen-container">
  <div class="lib-container">
    <div class="book-container">
      <% if @books.any? %>
        <% @books.each do |book| %>
          <%= render 'shared/book_card', book: book%>
        <% end %>
      <% end %>
  </div>
</div>
